Вам предлагается предсказать рейтинг ресторана, используя датасет отзывов ресторанов

Цель этого курса - научить анализировать данные, а не строить ML модели. Поэтому в этой лабораторной мы предлагаем построить новые полезные для предсказания признаки, удалить бесполезные и обработать сырые.

Также разрешается использовать только алгоритм KNeighborsRegressor из python пакета sklearn. Использовать другие модели при решении нельзя. Разрешается и рекомендуется придумывать дополнительные признаки для датасета и находить наилучшие гиперпараметры алгоритма

In [1]:
import copy
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from numpy import sqrt
from numpy import log

from tqdm import tqdm

from sklearn.datasets import *
from sklearn.neighbors import KNeighborsRegressor

In [2]:
df_train_init = pd.read_csv('data/andan-2022-autumn-lab-3/train.csv')
df_train_init.head()

,user_id,org_id,rating,ts,user_city,org_city,average_bill,rating_org,rubrics,food_delivery,...,call_button,wheelchair_accessible,table_games,vinotheque,cakes_for_different_occasions,accepted_credit_cards,kalyan,teahouse,bread_from_tandoor,handmade_goods
0,12182789761588196310,11946401375069641937,4.0,677,msk,msk,1500.0,3.883212,Ресторан,1,...,0,0,0,0,0,0,0,0,0,0
1,2796544982129273287,5545859981678495568,5.0,577,msk,msk,1000.0,4.495379,Ресторан,1,...,0,0,0,0,0,0,0,0,0,0
2,10546824832088319728,3451485117888180206,4.0,716,msk,msk,500.0,4.576063,Кафе,1,...,0,0,0,0,0,0,0,0,0,0
3,9967742981458207920,9490041040735762889,3.0,639,spb,spb,1000.0,3.775701,Кафе,1,...,0,0,0,0,0,0,0,0,0,0
4,11046819495825038093,5234254278902729372,5.0,669,msk,msk,500.0,4.187500,Пиццерия,1,...,0,1,0,0,0,0,0,0,0,0

In [3]:
df_train_init.describe()

,user_id,org_id,rating,ts,average_bill,rating_org,food_delivery,breakfast,takeaway,summer_terrace,...,call_button,wheelchair_accessible,table_games,vinotheque,cakes_for_different_occasions,accepted_credit_cards,kalyan,teahouse,bread_from_tandoor,handmade_goods
count,7.399500e+04,7.399500e+04,73995.000000,73995.000000,45433.000000,73995.000000,73995.000000,73995.000000,73995.000000,73995.000000,...,73995.000000,73995.000000,73995.000000,73995.000000,73995.000000,73995.000000,73995.000000,73995.000000,73995.000000,73995.000000
mean,9.196627e+18,9.038261e+18,4.322779,714.540766,1075.891973,4.319332,0.757119,0.576607,0.649206,0.602554,...,0.008014,0.007406,0.017677,0.002149,0.002419,0.001027,0.000932,0.001230,0.002960,0.001216
std,5.312861e+18,5.275833e+18,1.130370,293.492213,2733.507688,0.308584,0.428827,0.494100,0.477222,0.489373,...,0.089162,0.085739,0.131775,0.046306,0.049125,0.032032,0.030523,0.035047,0.054323,0.034854
min,1.445171e+14,1.626686e+15,1.000000,0.000000,500.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.614445e+18,4.504716e+18,4.000000,505.000000,500.000000,4.180952,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.191287e+18,9.104453e+18,5.000000,699.000000,500.000000,4.368304,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.376070e+19,1.350392e+19,5.000000,958.000000,1000.000000,4.524001,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.844666e+19,1.844531e+19,5.000000,1216.000000,246500.000000,5.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df_train_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73995 entries, 0 to 73994
Data columns (total 72 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   user_id                         73995 non-null  uint64
 1   org_id                          73995 non-null  uint64
 2   rating                          73995 non-null  float64
 3   ts                              73995 non-null  int64
 4   user_city                       73995 non-null  object
 5   org_city                        73995 non-null  object
 6   average_bill                    45433 non-null  float64
 7   rating_org                      73995 non-null  float64
 8   rubrics                         73995 non-null  object
 9   food_delivery                   73995 non-null  int64
 10  breakfast                       73995 non-null  int64
 11  takeaway                        73995 non-null  int64
 12  summer_terrace                  73995 non-null  int64
 13  wi_fi                           73995 non-null  int64
 14  business_lunch                  73995 non-null  int64
 15  payment_by_credit_card          73995 non-null  int64
 16  coffee_to_go                    73995 non-null  int64
 17  closed_for_quarantine           73995 non-null  int64
 18  online_takeaway                 73995 non-null  int64
 19  karaoke                         73995 non-null  int64
 20  special_menu                    73995 non-null  int64
 21  sports_broadcasts               73995 non-null  int64
 22  food_court1                     73995 non-null  int64
 23  craft_beer                      73995 non-null  int64
 24  projector                       73995 non-null  int64
 25  gift_certificate                73995 non-null  int64
 26  wheelchair_access               73995 non-null  int64
 27  automatic_door                  73995 non-null  int64
 28  food_product_delivery           73995 non-null  int64
 29  car_park                        73995 non-null  int64
 30  parking_disabled                73995 non-null  int64
 31  toilet_for_disabled             73995 non-null  int64
 32  promotions                      73995 non-null  int64
 33  cafe                            73995 non-null  int64
 34  minimum_order                   73995 non-null  int64
 35  free_delivery                   73995 non-null  int64
 36  self_service_kiosks             73995 non-null  int64
 37  has_restaurant                  73995 non-null  int64
 38  air_conditioning                73995 non-null  int64
 39  pets                            73995 non-null  int64
 40  elevator                        73995 non-null  int64
 41  has_bar                         73995 non-null  int64
 42  internet access                 73995 non-null  int64
 43  privilege_tickets               73995 non-null  int64
 44  organic_food                    73995 non-null  int64
 45  vip_zone                        73995 non-null  int64
 46  hall_capacity                   73995 non-null  int64
 47  face_control                    73995 non-null  int64
 48  show_program                    73995 non-null  int64
 49  music                           73995 non-null  int64
 50  chillout                        73995 non-null  int64
 51  dancefloor                      73995 non-null  int64
 52  dress_code                      73995 non-null  int64
 53  billiards                       73995 non-null  int64
 54  strip                           73995 non-null  int64
 55  elevator_wheelchair_accessible  73995 non-null  int64
 56  ramp                            73995 non-null  int64
 57  around_the_clock_work1          73995 non-null  int64
 58  pickup                          73995 non-null  int64
 59  farm_products                   73995 non-null  int64
 60  delivery                        73995 non-null  int64
 61  coffee_shop                     73995 non-null  int64
 62  call_button                     73995 non-null  int64
 63  wheelchair_accessible           73995 non-null  int64
 64  table_games                     73995 non-null  int64
 65  vinotheque                      73995 non-null  int64
 66  cakes_for_different_occasions   73995 non-null  int64
 67  accepted_credit_cards           73995 non-null  int64
 68  kalyan                          73995 non-null  int64
 69  teahouse                        73995 non-null  int64
 70  bread_from_tandoor              73995 non-null  int64
 71  handmade_goods                  73995 non-null  int64
dtypes: float64(3), int64(64), object(3), uint64(2)
memory usage: 40.6+ MB

In [5]:
df_test_init = pd.read_csv('data/andan-2022-autumn-lab-3/test_x.csv')
df_test_init.head()

,user_id,org_id,rating,ts,user_city,org_city,average_bill,rubrics,food_delivery,breakfast,...,call_button,wheelchair_accessible,table_games,vinotheque,cakes_for_different_occasions,accepted_credit_cards,kalyan,teahouse,bread_from_tandoor,handmade_goods
0,7016090648418898986,17145242605301041786,5.0,754,spb,spb,1000.0,Ресторан,1,1,...,0,0,0,0,0,0,0,0,0,0
1,7984587338632361094,6994879043376924376,5.0,99,spb,spb,1500.0,Ресторан,1,1,...,0,0,0,0,0,0,0,0,0,0
2,12147560281443849509,5596242631024337097,5.0,1174,spb,spb,500.0,Кафе,1,0,...,0,0,0,0,0,0,0,0,0,0
3,9761706959109988045,16272893617101942587,5.0,1176,msk,msk,500.0,Кафе,1,1,...,0,0,0,0,0,0,0,0,0,0
4,5657837819564452133,3193067678075550767,4.0,1030,msk,msk,NaN,Кафе,1,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
pd.read_csv('data/andan-2022-autumn-lab-3/test_x.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24665 entries, 0 to 24664
Data columns (total 71 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   user_id                         24665 non-null  uint64
 1   org_id                          24665 non-null  uint64
 2   rating                          24665 non-null  float64
 3   ts                              24665 non-null  int64
 4   user_city                       24665 non-null  object
 5   org_city                        24665 non-null  object
 6   average_bill                    15187 non-null  float64
 7   rubrics                         24665 non-null  object
 8   food_delivery                   24665 non-null  int64
 9   breakfast                       24665 non-null  int64
 10  takeaway                        24665 non-null  int64
 11  summer_terrace                  24665 non-null  int64
 12  wi_fi                           24665 non-null  int64
 13  business_lunch                  24665 non-null  int64
 14  payment_by_credit_card          24665 non-null  int64
 15  coffee_to_go                    24665 non-null  int64
 16  closed_for_quarantine           24665 non-null  int64
 17  online_takeaway                 24665 non-null  int64
 18  karaoke                         24665 non-null  int64
 19  special_menu                    24665 non-null  int64
 20  sports_broadcasts               24665 non-null  int64
 21  food_court1                     24665 non-null  int64
 22  craft_beer                      24665 non-null  int64
 23  projector                       24665 non-null  int64
 24  gift_certificate                24665 non-null  int64
 25  wheelchair_access               24665 non-null  int64
 26  automatic_door                  24665 non-null  int64
 27  food_product_delivery           24665 non-null  int64
 28  car_park                        24665 non-null  int64
 29  parking_disabled                24665 non-null  int64
 30  toilet_for_disabled             24665 non-null  int64
 31  promotions                      24665 non-null  int64
 32  cafe                            24665 non-null  int64
 33  minimum_order                   24665 non-null  int64
 34  free_delivery                   24665 non-null  int64
 35  self_service_kiosks             24665 non-null  int64
 36  has_restaurant                  24665 non-null  int64
 37  air_conditioning                24665 non-null  int64
 38  pets                            24665 non-null  int64
 39  elevator                        24665 non-null  int64
 40  has_bar                         24665 non-null  int64
 41  internet access                 24665 non-null  int64
 42  privilege_tickets               24665 non-null  int64
 43  organic_food                    24665 non-null  int64
 44  vip_zone                        24665 non-null  int64
 45  hall_capacity                   24665 non-null  int64
 46  face_control                    24665 non-null  int64
 47  show_program                    24665 non-null  int64
 48  music                           24665 non-null  int64
 49  chillout                        24665 non-null  int64
 50  dancefloor                      24665 non-null  int64
 51  dress_code                      24665 non-null  int64
 52  billiards                       24665 non-null  int64
 53  strip                           24665 non-null  int64
 54  elevator_wheelchair_accessible  24665 non-null  int64
 55  ramp                            24665 non-null  int64
 56  around_the_clock_work1          24665 non-null  int64
 57  pickup                          24665 non-null  int64
 58  farm_products                   24665 non-null  int64
 59  delivery                        24665 non-null  int64
 60  coffee_shop                     24665 non-null  int64
 61  call_button                     24665 non-null  int64
 62  wheelchair_accessible           24665 non-null  int64
 63  table_games                     24665 non-null  int64
 64  vinotheque                      24665 non-null  int64
 65  cakes_for_different_occasions   24665 non-null  int64
 66  accepted_credit_cards           24665 non-null  int64
 67  kalyan                          24665 non-null  int64
 68  teahouse                        24665 non-null  int64
 69  bread_from_tandoor              24665 non-null  int64
 70  handmade_goods                  24665 non-null  int64
dtypes: float64(2), int64(64), object(3), uint64(2)
memory usage: 13.4+ MB

In [7]:
pd.read_csv('data/andan-2022-autumn-lab-3/test_x.csv').describe()

,user_id,org_id,rating,ts,average_bill,food_delivery,breakfast,takeaway,summer_terrace,wi_fi,...,call_button,wheelchair_accessible,table_games,vinotheque,cakes_for_different_occasions,accepted_credit_cards,kalyan,teahouse,bread_from_tandoor,handmade_goods
count,2.466500e+04,2.466500e+04,24665.000000,24665.000000,15187.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,...,24665.000000,24665.000000,24665.000000,24665.00000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000
mean,9.194880e+18,9.088017e+18,4.321589,716.566390,1105.517877,0.762660,0.580215,0.655423,0.604581,0.864545,...,0.007987,0.007622,0.018366,0.00223,0.002027,0.000973,0.001135,0.001460,0.002149,0.000973
std,5.324887e+18,5.261855e+18,1.128989,292.781347,3605.794698,0.425461,0.493534,0.475240,0.488950,0.342216,...,0.089014,0.086973,0.134274,0.04717,0.044979,0.031179,0.033674,0.038177,0.046306,0.031179
min,4.826883e+14,1.626686e+15,1.000000,0.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.567401e+18,4.667589e+18,4.000000,507.000000,500.000000,1.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.235276e+18,9.104453e+18,5.000000,700.000000,1000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.379081e+19,1.354245e+19,5.000000,958.000000,1000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.844600e+19,1.844622e+19,5.000000,1216.000000,250000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df_train_init = df_train_init.drop(['user_id', 'org_id', 'user_city', 'org_city', 'rubrics'], axis=1)
df_train_init = df_train_init.replace(np.nan, 0)

df_train_init['ts'] = df_train_init['ts'].replace(0, 1)
df_train_init['average_bill'] = df_train_init['average_bill'].replace(0, 1)
df_train_init['money'] = (log(df_train_init['ts']) + log(df_train_init['average_bill'])) / 2
                         
df_train_init.head()

,rating,ts,average_bill,rating_org,food_delivery,breakfast,takeaway,summer_terrace,wi_fi,business_lunch,...,wheelchair_accessible,table_games,vinotheque,cakes_for_different_occasions,accepted_credit_cards,kalyan,teahouse,bread_from_tandoor,handmade_goods,money
0,4.0,677,1500.0,3.883212,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,6.915446
1,5.0,577,1000.0,4.495379,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,6.632799
2,4.0,716,500.0,4.576063,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,6.394144
3,3.0,639,1000.0,3.775701,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,6.683830
4,5.0,669,500.0,4.187500,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,6.360196

In [9]:
df_test_init = df_test_init.drop(['user_id', 'org_id', 'user_city', 'org_city', 'rubrics'], axis=1)
df_test_init = df_test_init.replace(np.nan, 0)

df_test_init['ts'] = df_test_init['ts'].replace(0, 1)
df_test_init['average_bill'] = df_test_init['average_bill'].replace(0, 1)
df_test_init['money'] = (log(df_test_init['ts']) + log(df_test_init['average_bill'])) / 2

df_test_init.head()

,rating,ts,average_bill,food_delivery,breakfast,takeaway,summer_terrace,wi_fi,business_lunch,payment_by_credit_card,...,wheelchair_accessible,table_games,vinotheque,cakes_for_different_occasions,accepted_credit_cards,kalyan,teahouse,bread_from_tandoor,handmade_goods,money
0,5.0,754,1000.0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,6.766574
1,5.0,99,1500.0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,5.954170
2,5.0,1174,500.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.641390
3,5.0,1176,500.0,1,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,6.642241
4,4.0,1030,1.0,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,3.468657

In [10]:
print(df_train_init['money'].min())
print(df_train_init['money'].max())

0.0
9.679119847642156

In [11]:
df_test_init.describe()

,rating,ts,average_bill,food_delivery,breakfast,takeaway,summer_terrace,wi_fi,business_lunch,payment_by_credit_card,...,wheelchair_accessible,table_games,vinotheque,cakes_for_different_occasions,accepted_credit_cards,kalyan,teahouse,bread_from_tandoor,handmade_goods,money
count,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,...,24665.000000,24665.000000,24665.00000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000,24665.000000
mean,4.321589,716.566471,681.085668,0.762660,0.580215,0.655423,0.604581,0.864545,0.621893,0.903791,...,0.007622,0.018366,0.00223,0.002027,0.000973,0.001135,0.001460,0.002149,0.000973,5.296640
std,1.128989,292.781149,2879.937596,0.425461,0.493534,0.475240,0.488950,0.342216,0.484924,0.294884,...,0.086973,0.134274,0.04717,0.044979,0.031179,0.033674,0.038177,0.046306,0.031179,1.656893
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,507.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.354042
50%,5.000000,700.000000,500.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.275717
75%,5.000000,958.000000,1000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.644786
max,5.000000,1216.000000,250000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.741401

In [12]:
train_y = df_train_init['rating_org'].to_numpy()
df_train_init = df_train_init.drop(['rating_org'], axis=1)
train_x = df_train_init.to_numpy()

In [13]:
KNR = KNeighborsRegressor(n_neighbors=int(sqrt(len(train_x))), weights='distance')
KNR.fit(train_x, train_y)

KNeighborsRegressor(n_neighbors=272, weights='distance')

In [14]:
size = df_test_init.shape[0]
indices = []
predicted = []

In [15]:
for i in tqdm(range(0, size)):
    indices = np.append(indices, i)
    test = df_test_init.iloc[i].to_numpy().reshape(1, -1)
    res = KNR.predict(test)
    predicted = np.append(predicted, res)

100%|████████████████████████████████████████████████████████████████████████████| 24665/24665 [08:44<00:00, 47.03it/s]

In [16]:
df_res = pd.DataFrame({'id': indices.astype(int), 'rating_org': predicted})
df_res.head()

   id  rating_org
0   0    4.333009
1   1    4.297331
2   2    4.288368
3   3    4.307777
4   4    4.334758

In [17]:
df_res.to_csv('sample_submission.csv', index=False)